@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.eot');
    src: url('CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('CenturyGothic.woff') format('woff'),
    url('CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Code Light";
    src: url("CODE Light.otf");
    font-weight: normal;
    font-style: normal;
}