@import url(../fonts/fonts.css)

body
    font-family: "Century Gothic", sans-serif
    a
        text-decoration: none
header
    background-color: #F6F6F6
    padding: 22px 0
.navigation
    margin-top: 20px
#main-menu
    display: flex
    justify-content: space-between
#menu-checkbox
    display: none
.nav-item
    a
        text-transform: uppercase
        padding: 27px 6px
        &:hover
            color: #000
            background-color: #FFEA00
            text-decoration: none

#slider
    padding-top: 120px
    background: url(../img/slider_bg.png)
    &:nth-last-child(2)
        margin-bottom: 10px

    .title
        display: flex
        margin-left: 3px

    h2
        display: inline
        background-color: #FFEA00
        text-transform: uppercase
        font-size: 70px
    p
        display: inline
        background-color: #414146
        font-size: 24px
        color: #FFF
        text-transform: uppercase

    a
        display: block
        width: 192px
        height: 46px
        padding: 5px 20px
        text-decoration: none
        text-align: center
        font-size: 26px
        background-color: #000
        color: #FFF

        &:hover
            border-bottom: 2px solid #FFEA00
            text-decoration: none
            color: #FFF

#content
    margin-top: 92px
    h2
        font-size: 35px
        text-transform: uppercase
        text-align: center
    p
        font-size: 24px
        text-align: center

#our-work
.work
    position: relative
    margin: 0 auto
    width: 165px
    height: 31px
    background-color: #424147
    color: #FFEA00
    text-transform: uppercase
    text-align: center

#clients
    p
        font-size: 16px
        text-align: center
.our-clients
    position: relative
    margin: 0 auto
    width: 165px
    height: 31px
    background-color: #424147
    color: #FFEA00
    text-transform: uppercase
    text-align: center

#footer
    display: flex
    flex-wrap: wrap

.big-inf
    padding-top: 30px
    background-color: #424147
    display: flex

    span
        color: #FFEA00
    h2
        font-size: 18px
        color: #FFF
    p
        color: #FFF
        font-size: 13px
    .btn-learn
        margin: 0 auto
    .gallery
        display: flex
        flex-wrap: wrap
        img
            max-width: 180px
            max-height: 110px
            margin: 5px
    .social
        display: flex
        justify-content: space-between
        span
            font-size: 18px
            color: #FFF
        ul
            display: flex
            justify-content: space-around
            width: 100%
            li
                width: 30px
                height: 30px
                background-color: #000
                a
                    text-align: center
                    color: #FFF
    
.black
    background-color: #000
    padding-top: 30px
    padding-bottom: 20px

    .container
        display: flex
        justify-content: space-around
        flex-wrap: wrap
    p
        font-size: 14px
        color: #FFF
    ul
        display: flex
        a
            color: #FFF

@media screen and ( max-width: 420px )
    .header-container
        width: 100%
        justify-content: space-around
    .main-menu
        display: none
        li
            width: 100%
            display: block
            font-size: 12px
            text-align: center
            a
                display: block
                padding: 8px
    .toggle-button
        display: block
        cursor: pointer
        text-align: center
        color: #000
        margin-top: 45px
        &::after
            content: attr(data-open)
            display: block
    #menu-checkbox:checked + nav[role="navigation"] .main-menu
        display: block
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after
        content: attr(data-close)
    
    #slider
        padding-top: 15px
        padding-bottom: 10px
    .slider-description
        display: flex
        flex-direction: column
        justify-content: space-around
        margin: 0 auto
    .title
        padding-bottom: 5px
        padding-left: 3px
    h2
        margin: 0 auto
        font-size: 45px
        padding-bottom: 5px
    p
        text-align: center
        font-size: 14px
        padding: 5px
    a
        margin: 0 auto
        width: 40%

    .faces
        position: relative
        margin: 10px 5px

        img
            width: 100%
    #content
        margin-top: 20px
        h2
            font-size: 25px
        p
            font-size: 18px
            margin-bottom: 20px

    #our-works
    .work
        margin: 0 auto
        padding-top: 4px
        width: 45%
        margin-bottom: 5px
        &::after
            position: absolute
            content: ''
            width: 57%
            display: block
            height: 2px
            background: #CACACA
            z-index: 1
            left: 104%
            top: 58%
            transform: translateY(-50%)
        &::before
            position: absolute
            content: ''
            width: 57%
            display: block
            height: 2px
            background: #CACACA
            z-index: 1
            left: -61%
            top: 58%
            transform: translateY(-50%)
    #clients
        p
            font-size: 12px
            text-align: center
    .our-clients
        margin: 0 auto
        padding-top: 4px
        width: 50%
        margin-bottom: 5px
        &::after
            position: absolute
            content: ''
            width: 52%
            display: block
            height: 2px
            background: #CACACA
            z-index: 1
            left: 105%
            top: 50%
            transform: translateY(-50%)
        &::before
            position: absolute
            content: ''
            width: 57%
            display: block
            height: 2px
            background: #CACACA
            z-index: 1
            left: -61%
            top: 50%
            transform: translateY(-50%)
    #footer
        display: flex
        flex-wrap: wrap
    h2
        text-align: center
    .about
        p
            text-align: center
    .gallery
        justify-content: center
        img
            max-width: 180px
            max-height: 110px
            margin: 5px
    .fa-twitter
        display: inline
        font-size: 50px
    p
        display: inline
    .social
        flex-direction: column
        align-items: center
        ul
            width: 100%
            justify-content: space-around
        i
            padding: 7px
    .fa-facebook-f:hover
        color: #2F55A4
    .fa-google-plus-g:hover
        color: #86000b
    .fa-tumblr:hover
        color: #34526F
    .fa-linkedin-in:hover
        color: #000000
        background-color: #FFF
    .fa-youtube-square:hover
        color: #FF0000
    .fa-blogger-b:hover
        color: #FF9100
    .fa-rss:hover
        color: #000000
        background-color: #FFF
    .fa-dribbble:hover
        color: #FF00EA

    address
        font-style: normal
        li
            padding-bottom: 4px
            i
                padding: 7px
                width: 30px
                height: 30px
                background-color: #000
                color: #FFF
            a
                font-size: 18px
                text-decoration: none
                color: #FFF
            p
                font-size: 18px

    .field-group
        padding-bottom: 15px

    .email
        border: none
        background-color: #414146
        border-bottom: 2px solid #FFEA00

    .copyright
        text-align: center
        padding-bottom: 10px
    .footer-menu-box
        display: flex
        margin-top: 10px
    .footet-menu
        justify-content: center

@media screen and ( max-width: 576px )
    .main-menu
        display: none
        li
            width: 100%
            display: block
            font-size: 12px
            text-align: center
            a
                display: block
                padding: 8px
    .toggle-button
        display: block
        cursor: pointer
        text-align: center
        color: #000
        margin-top: 45px
        &::after
            content: attr(data-open)
            display: block
    #menu-checkbox:checked + nav[role="navigation"] .main-menu
        display: block
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after
        content: attr(data-close)

    .title
        padding-bottom: 5px
        padding-left: 3px
        h2
            margin: 0 auto
            font-size: 45px
            padding-bottom: 5px
        p
            text-align: center
            font-size: 14px
            padding: 5px
        a
            margin: 0 auto
            margin-top: 30px
            width: 40%

    .faces
        position: relative
        margin: 10px 5px
        img
            width: 100%
    #footer
        display: flex
        flex-wrap: wrap
    h2
        text-align: center
    .gallery
        justify-content: center
        img
            max-width: 230px
            max-height: 130px
            margin: 5px
    .social
        flex-direction: column
        align-items: center
        ul
            width: 100%
            justify-content: space-around
        i
            padding: 7px
    .fa-facebook-f:hover
        color: #2F55A4
    .fa-google-plus-g:hover
        color: #86000b
    .fa-tumblr:hover
        color: #34526F
    .fa-linkedin-in:hover
        color: #000000
        background-color: #FFF
    .fa-youtube-square:hover
        color: #FF0000
    .fa-blogger-b:hover
        color: #FF9100
    .fa-rss:hover
        color: #000000
        background-color: #FFF
    .fa-dribbble:hover
        color: #FF00EA
    
    address
        font-style: normal
        li
            padding-bottom: 4px
            i
                padding: 7px
                width: 30px
                height: 30px
                background-color: #000
                color: #FFF
            a
                font-size: 18px
                text-decoration: none
                color: #FFF
            p
                font-size: 18px

    .field-group
        display: flex
        justify-content: center
        padding-bottom: 15px

    .email
        border: none
        background-color: #414146
        border-bottom: 2px solid #FFEA00

    .copyright
        text-align: center
        padding-bottom: 10px
    .footer-menu-box
        display: flex
        margin-top: 10px
    .footet-menu
        justify-content: center

@media screen and ( max-width: 768px )
    .main-menu
        display: none
        li
            width: 100%
            display: block
            font-size: 12px
            text-align: center
            a
                display: block
                padding: 8px
    .toggle-button
        display: block
        cursor: pointer
        text-align: center
        color: #000
        margin-top: 45px
        &::after
            content: attr(data-open)
            display: block
    #menu-checkbox:checked + nav[role="navigation"] .main-menu
        display: block
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after
        content: attr(data-close)
    .title
        padding-bottom: 5px
        padding-left: 3px
    a
        margin: 0 auto
        margin-top: 15px
        margin-bottom: 15px
    .faces
        position: relative
        margin: 10px 5px
        img
            width: 100%    
    #footer
    
    h2
        text-align: center
    .gallery
        justify-content: center
    
    .social
        flex-direction: row
        align-items: center
        ul
            width: 100%
            display: flex
            justify-content: center
        i
            padding: 7px
    .fa-facebook-f:hover
        color: #2F55A4
    .fa-google-plus-g:hover
        color: #86000b
    .fa-tumblr:hover
        color: #34526F
    .fa-linkedin-in:hover
        color: #000000
        background-color: #FFF
    .fa-youtube-square:hover
        color: #FF0000
    .fa-blogger-b:hover
        color: #FF9100
    .fa-rss:hover
        color: #000000
        background-color: #FFF
    .fa-dribbble:hover
        color: #FF00EA
    
    address
        font-style: normal
        li
            padding-bottom: 4px
            i
                padding: 7px
                width: 30px
                height: 30px
                background-color: #000
                color: #FFF
            a
                font-size: 18px
                text-decoration: none
                color: #FFF
            p
                font-size: 18px

    .field-group
        display: flex
        justify-content: center
        padding-bottom: 15px

    .email
        border: none
        background-color: #414146
        border-bottom: 2px solid #FFEA00
    
    .copyright
        text-align: center
        padding-bottom: 10px
    .footer-menu-box
        display: flex
        margin-top: 10px
    .footet-menu
        justify-content: center